{% extends 'base.html' %}

{% block title %} Survey Questions {% endblock %}

{% block content %}

<h1> Question Number {{question_num+1}} </h1>
<form action="/question/{{question_num + 1}}" method="POST">
    {{question}}
    {% for choice in choices %}
        <div>
            <input type="radio" id="{{choice}}" name="answer" value="{{choice}}">
            <label for="{{choice}}">{{choice}}</label>
        </div>
        
        
    {% endfor %}
    <button>submit</button>
</form>

{% endblock %}